[user]
    email = cuzelac@gmail.com
    name = Chris Uzelac
[mergetool]
    keepBackup = true
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[alias]
    s = status -s
    df =diff --name-only
    tree = log --oneline --decorate --all --graph
    permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
