[user]
	name = Chris Uzelac
	email = cuzelac@gmail.com
[push]
	config = default
	default = current
[diff]
	renames = true
[status]
	showUntrackedFiles = all
[branch]
	autosetupmerge = true
[merge]
	summary = true
	conflictstyle = diff3
[rebase]
	autosquash = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[init]
	templatedir = ~/.git_template
[alias]
	lg = log --all --graph --abbrev-commit --date=relative --pretty=format:'%C(bold blue)%h - %C(reset)%C(green)(%ad)%C(reset) - %s %C(dim)- %an%C(reset)%C(yellow)%d'
	lgb = log --graph --abbrev-commit --date=relative --pretty=format:'%C(bold blue)%h - %C(reset)%C(green)(%ad)%C(reset) - %s %C(dim)- %an%C(reset)%C(yellow)%d'

[rerere]
	enabled = 1
[include]
	path = ~/.gitconfig_local
